.menu {
  margin: 0;
  background-color: black;
}

.tabla, .tabla-2 {
  margin: 5%;
  text-align: center;
}

body, form div button {
  color: pink;
}

.titulo, footer, li {
  background-color: #100333;
  text-align: center;
  padding: 1em;
}

.tabla, .tabla-2 {
  background-color: #100333;
  height: 500px;
  width: 750px;
}
.tabla td, .tabla-2 td {
  border: 2px solid wheat;
}

.tabla-2 {
  color: #FFFFFF;
}

ol {
  background-color: #000000;
  height: 454.5454545455px;
}

li ul li {
  background-color: #FFFFFF;
  color: #000000;
}

form {
  margin: 125px;
  color: #000000;
}
form div {
  padding: 10px;
}
form div button {
  background-color: #100333;
  padding: 1em;
}

.vista {
  text-align: center;
  color: #000000;
}
.vista div {
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
}
.vista div h2 {
  background-color: #100333;
  padding: 1em;
  color: #FFFFFF;
}
.vista div p {
  background-color: #100333;
  padding: 1em;
  color: #FFFFFF;
  text-align: justify;
  word-spacing: 5px;
  letter-spacing: 2px;
}
.vista #fila_0 {
  font-size: 0em;
}
.vista #fila_1 {
  font-size: 1em;
}
.vista #fila_2 {
  font-size: 2em;
}
.vista #fila_3 {
  font-size: 3em;
}
.vista #fila_4 {
  font-size: 4em;
}
.vista #fila_5 {
  font-size: 5em;
}

.item_1 {
  letter-spacing: 2em;
}

.item_2 {
  letter-spacing: 3em;
}

.item_3 {
  letter-spacing: 4em;
}

.item_4 {
  letter-spacing: 5em;
}

.item_5 {
  letter-spacing: 6em;
}

.item_6 {
  letter-spacing: 7em;
}

footer a {
  background-color: #100333;
  padding: 1em;
  color: #FFFFFF;
  text-align: justify;
  word-spacing: 5px;
  letter-spacing: 2px;
  text-decoration: none;
}